@import "../../../node_modules/normalize.css/normalize.css";
@import "fonts";
@import "variables";
@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../components/main/login/login";

body{
  background-color: $body-color;
}

.todo-app{
  margin: 0;
  padding: 0;
}

.container{
  width: 1170px;
  margin: auto;
}

